
$color-fondo: #FCE4DE;
$color-letra-ppal: #EB5454;
$font-ppal: 'Oranienbaum', serif;
$color-letra-sec: rgb(92, 89, 89);
$color-fondo-sec: #FACDC1;

/*Habilidades*/

.habilidades {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    color: $color-letra-ppal;
    font-size: 2rem;
    margin: auto;
    h3 {
        font-size: 2.5rem;

    }
}

.idiomas,
.skills,
.hobbies {
    margin: 60px;
    align-items: center;
    border: 1px solid $color-letra-sec;
    padding: 50px;
    text-transform: uppercase;
}

.skills {
    text-align: center;
}

.hobbies,
.idiomas {
    width: 20%;
}



/*Educación*/

.padre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    color: $color-letra-sec;
    font-family: $font-sec ;
    font-size: 2rem;
    border: 1px solid $color-letra-ppal;


}

.hijo1 {
    flex-basis: 25rem;
    text-align: center;
    margin: 50px;
    margin-left: 70px;
    border-color: $color-letra-ppal;

}

.hijo2 {
    flex-basis: 25rem;
    text-align: center;
    margin: 50px;
}




/*Experiencia*/

.experiencia {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly; 

}

.experienciaAlfa {
    background-color: rgb(245, 90, 90);
    color: white;
    text-align: justify;
    font-size: 2rem;
    font-family: $font-sec;
    flex-basis: 5rem;
    padding: 3rem;

}

.experienciaBeta {
    background-color: rgb(227, 172, 172);
    color: white;
    text-align: justify;
    font-size: 2rem;
    font-family: $font-sec;
    flex-basis: 5rem;
    padding: 3rem;
}


/*Servicios*/

.contenedorServicios {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    color: $color-letra-ppal;
    font-size: 2rem;
    margin: auto;
    h3 {
        font-size: 2.5rem;

    }
}

.canto,
.tapDance,
.performance {
    margin: 60px;
    align-items: center;
    border: 1px solid $color-letra-sec;
    padding: 50px;
    text-transform: uppercase;
}

.estilo {
        margin: 10em;
        align-items: center;
        padding: 25px;
        text-transform: uppercase;
        color: #EB5454;
        border: 1px solid $color-letra-sec;
        text-align: center;
        font-size: 1.5rem;

}

/*.tap {
    text-align: center;
}

.canto,
.performance {
    width: 20%;
}*/

.agregarCarrito {

    color: $color-letra-sec;
    font-size: 1.3rem;
    font-family: $font-sec;
    display: inline-block;
    padding: 2rem;
    border: 1px solid $color-letra-ppal;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 10rem;
    text-transform: uppercase;    

}

#reservar,
#vaciar {
    color: $color-letra-sec;
    font-size: 1.3rem;
    font-family: $font-sec;
    display: flex;
    padding: 2rem;
    border: 1px solid $color-letra-ppal;
    border-radius: 5px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 35rem;
    text-transform: uppercase;
    justify-content: center;

}


