$color-fondo: #FCE4DE;
$color-letra-ppal: #EB5454;
$font-ppal: 'Oranienbaum', serif;
$color-letra-sec: rgb(92, 89, 89);


h1 a{
    font: $font-ppal;
    color: $color-letra-ppal;
    font-size: 55px;
        &:hover{
            color: $color-letra-sec;
    }
}

.nav justify-content-end {
    list-style: none;
}

.nav-item {
    font-size: 2rem;
    margin: 2rem;
}

.nav-link {
    text-decoration: none;
    color: $color-letra-ppal;
    font-family: $font-ppal ;
    background-color: $color-fondo;
        &:hover{
            color: $color-letra-sec;
    }
}

a {
    text-decoration: none;
}



