$color-fondo: #FCE4DE;
$color-letra-ppal: #EB5454;
$font-ppal: 'Oranienbaum', serif;
$color-letra-sec: rgb(92, 89, 89);
$font-sec: 'Dosis', sans-serif;
$color-fondo-sec: #FACDC1;


.sobreMi{
    font-family: $font-ppal;
    color: $color-letra-ppal;
    font-size: 4rem;
    margin: 3em auto 0em 3em;
    text-transform: uppercase;
}

h2{
    font-family: $font-ppal;
    color: $color-letra-ppal;
    font-size: 3rem;
    margin: 2em auto 2em 2.5em;
    text-transform: uppercase;
    
}

/*Contacto*/


#formulario {
    display:block;
    margin:5rem auto;
    width:50rem;
    height: auto;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: $color-letra-ppal solid 1px;
    background-color: $color-fondo-sec;
}

input{
    background-color: rgb(255, 250, 250); 
    width: 35em; 
    height: 4em; 
    border-radius: 5px;  
    border: 1.5px solid $color-letra-ppal;
    margin-top: 10px;  
    margin-bottom: 20px; 
    padding-left: 10px;
    transition: all 2s;
}

input:focus {
    width: 40em;
    height: 6em;
}

  textarea{
    background-color: rgb(255, 250, 250); 
    width: 24em; 
    height: 20em; 
    border-radius: 5px;  
    border: 1.5px solid $color-letra-ppal; 
    margin-top: 2em; 
    margin-bottom: 2em;  
    padding-left: 2em;
    padding-top: 2.5; 
    font-size: 1.5rem;
}

label {
    color: $color-letra-sec;
    font-weight: bold;
    font-size: 2rem;
    font-family: $font-sec ;
    display: block;
    margin-top: 3rem;
    margin-left: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

form {
    margin:0 auto;
    width:40rem;
}


.botonFormulario {
    color: $color-letra-sec;
    font-size: 1.3rem;
    font-family: $font-sec;
    display: inline-block;
    padding: 2rem;
    border: 1px solid $color-letra-ppal;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 35rem;
    text-transform: uppercase;
}


legend {
    color: $color-letra-ppal  ;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: $font-sec;
    margin-bottom: 1em;
    text-transform: uppercase;
}


.colorFondo {

    padding: 3rem;
    background-color: $color-fondo-sec;
}

.iconos {
    font-size: 4rem;
}

.tamanoLetra {
    font-size: 2rem;
}