
 .video {
    width: 60%;
    display: block;
    margin: auto;
 }

 .imagenExperiencia {
     width: 30%;
 }

 .videoYoutube {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly; 
    margin-left: 15em;
    margin-bottom: 10em;
    margin-top: 10em;
    width: 65%;

}


.videoYoutube1,
.videoYoutube2,
.videoYoutube3 {
    display: block;
    margin: auto;
    margin-right: 2em;

    
}

.fotoExperiencia {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly; 
    margin-left: 7em;
    margin-bottom: 10em;
    margin-top: 10em;

}

 