
 .video {
     width: 60%;
     margin-left: 30em;
     margin-top: 4em;
 }

 .imagenExperiencia {
     width: 30%;
 }

 .videoYoutube {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly; 
    margin-left: 15em;
    margin-bottom: 10em;
    margin-top: 10em;
    width: 65%;

}


.videoYoutube1,
.videoYoutube2,
.videoYoutube3 {
    align-items: center;
    margin-left: 15em;
    
}

.fotoExperiencia {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly; 
    margin-left: 7em;
    margin-bottom: 10em;
    margin-top: 10em;

}

 